#vidlist{
    padding-left:0;
}

.playlist {
    list-style-type: none;
    background-color: antiquewhite;
    padding:5px;
    border-radius: 5px;
    border: 1px solid rgb(253, 217, 169);
    margin-bottom:5px;
}

.video {
    display: flex;
}

.video-thumbnail-container {
    height: 4em;
    width: 8em;
    min-width:8em;
    margin-right: 0.5em;
    justify-content:center;
    display: flex;
    background: black;
}

.video-thumbnail{
    max-width:  100%;
    max-height: 100%;
}

.video-details {
    flex-grow: 1;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow:hidden;
}

.video-title {
    margin: 0;
    font-size: 1.5em;
    text-overflow: ellipsis;
    overflow:hidden;
}

.video-source {
    margin: 0;
    font-size: 1em;
    text-overflow: ellipsis;
    overflow:hidden;
}

.playing {
    background-color:aliceblue;
    border-color:#b5dbfc;
}

@media (pointer:coarse) {
    .playback-controls {
        height:    4em;
        min-width: 4em;
    }
}