<!DOCTYPE html>
<html lang="en", xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>
            Player
        </title>
        <link rel="stylesheet" href="/static/style.css">
        
    </head>
    <body>
        <h1>Player</h1>
        <form action="/player/enqueue" method="post" enctype="application/json">
            <label for="source">Source</label>
            <input type="text" name="source">
            <input type="submit">
        </form>
        <h2>Playlist</h2>
        <ol id="vidlist">
            <li class="playlist" th:each="item,status : ${playlist}">
                <div class="video" >
                    <div class="video-thumbnail-container">
                        <img class="video-thumbnail" th:src="@{/thumbnail.png(source=${item.source})}"/>
                    </div>
                    <div class="video-details">
                        <a th:href="@{'/player/skipto/'+${status.index}}">
                            <h2 class="video-title" th:text="${item.name}"></h2>
                        </a>
                        <p class="video-source" th:text="${item.source}"></p>
                    </div>
                </div>
            </li>
        </ol>
        <template id="video-template">
            <li class="playlist">
                <div class="video">
                    <div class="video-thumbnail-container">
                        <img class="video-thumbnail" src="/thumbnail.png?source=$source"/>
                    </div>
                    <div class="video-details">
                        <a href="/player/skipto/$index">
                            <h2 class="video-title">$name</h2>
                        </a>
                        <p class="video-source">
                            $source
                        </p>
                    </div>
                </div>
            </li>
        </template>
        <script>
            let vidlist = document.getElementById("vidlist");
            let webSocket = new WebSocket("ws://" + location.hostname + ":" + location.port + "/clicker");
            const template = document.getElementById("video-template");
            webSocket.onmessage = (msg) => {
                let data = JSON.parse(msg.data);
                vidlist.innerHTML = "";
                for(let i = 0; i < data.playlist.length; i++){
                    let video = data.playlist[i];
                    let clone = template.content.firstElementChild.cloneNode(true);
                    clone.innerHTML = clone.innerHTML.replaceAll("$source", video.source).replaceAll("$name", video.name).replaceAll("$index", i);
                    vidlist.append(clone);
                }
            };
            
        </script>
    </body>
</html>