<!DOCTYPE html>
<html lang="en", xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>
            Player
        </title>
    </head>
    <body>
        <h1>Player</h1>
        <ol>
            <li th:each="item,status : ${playlist}">
                <a th:href="@{'/player/skipto/'+${status.index}}">
                    <h2 th:text="${item.name}"></h2>
                    <img th:src="@{/thumbnail.png(source=${item.source})}"/>
                    <p th:text="${item.source}"></p>
                </a>
            </li>
        </ol>
        <form action="/player/enqueue" method="post" enctype="application/json">
            <label for="source">Source</label>
            <input type="text" name="source">
            <input type="submit">
        </form>
    </body>
</html>