<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

  <servlet>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>ca.awoo.vidbox.TestServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>PlayerControls</servlet-name>
    <servlet-class>ca.awoo.vidbox.PlayerControls</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>PlayerControls</servlet-name>
    <url-pattern>/player</url-pattern>
  </servlet-mapping>
</web-app>    